<h1>Cohorts</h1>

<% @cohorts.each do |cohort| %>

	<h3><a href="/cohorts/<%= cohort.id %>"><%= cohort.name %></a></h3>
	<p><%= cohort.instructor.last_name %>, <%= cohort.instructor.first_name %></p>
  <br>

<% end %>

