<h1><%= @student.cohort.name %></h1>

<h2>Hello, <%= @student.first_name %> </h2>
<p>Current Email: <%= @student.email %></p>
<p>Current Average: </p>
<a href="/students/<%= @student.id %>/edit">Update Your Information</a>

