var globalStudents
var globalQuizzes

$(document).ready(function() {

  var $cohortChoice = $('.cohort-choice');
  var $studentChoice = $('.student-dropdown');
  var $quizChoice = $('.quiz-dropdown');
  var $quizList = $('.scroll-down').eq(0)
  var $studentList = $('.scroll-down').eq(1)  
  var $dashCohort = $('.dash').children().first()
  var columnData = [
    ["90-100%", 4],
    ["80-89%", 2],
    ["70-79%", 5],
    ["60-69%", 4],
    ["Needs Help", 3],
  ];
  var cohortChoice = $cohortChoice.val().trim();
  var quizChoice = $quizChoice.val().trim();

  google.setOnLoadCallback(drawMultSeries);
  function drawMultSeries() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Grade Range');
    data.addColumn('number', 'Students');
    data.addRows(columnData);
    var options = {
      backgroundColor: 'none',
      hAxis: {
        title: 'Scores',
      },
      legend: 'none'
    };

    var chart = new google.visualization.ColumnChart(
      document.getElementById('column-chart'));
    chart.draw(data, options);
  }


  google.setOnLoadCallback(drawBasic);
  function drawBasic() {

    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Test Day');
    data.addColumn('number', 'Grade');

    data.addRows([
      [new Date(2015,11,9), 80], [new Date(2015,11,10), 70], [new Date(2015,11,11), 80], [new Date(2015,11,12), 85], [new Date(2015,11,13), 90], [new Date(2015,11,14), 80], [new Date(2015,11,15), 100]
    ]);

    var options = {
      backgroundColor: 'none',
      legend: 'none',
      hAxis: {
        title: 'Test Day'
      },
      lineWidth: 4,
    };

    var chart = new google.visualization.LineChart(document.getElementById('line-chart'));
    chart.draw(data, options);
  }

  $cohortChoice.on('change', function(){

    cohortChoice = $cohortChoice.val().trim();

    $.ajax({
      method: "GET",
      dataType: "json",
      url: "/instructors/dash/"+cohortChoice,
      success: function(response, status, xhr){
        $dashCohort.text("Cohort: "+cohortChoice)
        $studentList.empty()
        $quizList.empty()
        $studentChoice.empty()
        $quizChoice.empty()
        response["students"].forEach(function(student) {
          $studentList.append('<a href="/students/'+student.id+'">'+ student.first_name + ' ' + student.last_name + '</a>');
          $studentChoice.append('<option data-student-id='+student.id+'>'+student.first_name+' '+student.last_name+'</option>');
        });
        response["quizzes"].forEach(function(quiz){
          $quizList.append('<a href="/quizzes/'+quiz.id+'">'+quiz.test_day+'</a>')
          $quizChoice.append('<option data-quiz-id='+quiz.id+'>'+quiz.test_day+'</option>');          
        });
        globalStudents = response["students"]
        globalQuizzes = response["quizzes"]
      },
      error: function(xhr, status, error){
        console.log(xhr, status, error)
      },
    })
  });

  $quizChoice.on('change', function(){
    quizChoice = $quizChoice.val()
    $('.quiz-name').text('Grades for Quiz '+quizChoice)    
    $.ajax({
      method: 'GET',
      datatype: 'json',
      url: "/instructors/dash/quizzes/"+quizChoice,
      success: function(response){
        // drawMultSeries;
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Grade Range');
        data.addColumn('number', 'Students');
        data.addRows(response);
        var options = {
          backgroundColor: 'none',
          hAxis: {
            title: 'Scores',
          },
          legend: 'none'
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('column-chart'));
        chart.draw(data, options);
      },
      error: function(xhr, status, error){
        console.log(xhr, status, error)
      },
    })
  })

  $studentChoice.on('change', function(){
    studentChoice = $studentChoice.val()
    $('.student-name').text($studentChoice.val()+'\'s Grades')   
    $.ajax({
      method: 'GET',
      datatype: 'json',
      url: "/instructors/dash/students/"+studentChoice.split(' ').join(''),
      success: function(response){
        console.log(response);
        // drawBasic;
        parsedResponse = response.map(function(array){
          return [new Date(array[0],array[1]-1,array[2]), Math.random()*100]
        })
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Test Day');
        data.addColumn('number', 'Grade');
        data.addRows(parsedResponse);

    var options = {
      backgroundColor: 'none',
      legend: 'none',
      hAxis: {
        title: 'Test Day'
      },
      lineWidth: 4,
    };

    var chart = new google.visualization.LineChart(document.getElementById('line-chart'));
    chart.draw(data, options);
      },
      error: function(xhr, status, error){
        console.log(xhr, status, error)
      },
    })
  })

  // $studentChoice.on('change', function() {

    // $('.student-name').text($studentChoice.val()+'\'s Grades')
  //   var selectedStudentID = $studentChoice.find('option:selected').attr('data-student-id');
  //   var filteredStudent = globalStudents.filter(function(student){
  //       return student.id == selectedStudentID;
  //    })[0];
  //   var grades = filteredStudent.grades

  // });

  // $quizChoice.on('change', function() {

    // quizChoice = $quizChoice.val()
    // console.log(quizChoice)
    // $('.quiz-name').text('Grades for Quiz '+quizChoice)
  //   var selectedQuizID = $quizChoice.find('option:selected').attr('data-quiz-id');
  //   var filteredQuiz = globalQuizzes.filter(function(quiz){
  //       return quiz.id == selectedQuizID;
  //   })[0];
  // });

});

