/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_grid
 */



body {
  margin: 0 auto;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

.header {
  background-color: #53A697;
  height: 50px;
  width: 100%;
  color: white;
  top: 0px;
  display: inline-block;
}

p#logo {
  font-family: 'Francois One', sans-serif;
  font-size: 18px;
  top: -15%;
  float: left;
  margin-left: 20px;
  position: relative;
}

.nav{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  top: 5%;
  position: relative;
  float: right;
  display: inherit;
  margin-right: 20px;
}

.nav-link {
 color: white;
}

.greeting {
  margin: auto;
  vertical-align: middle;
  padding-top: 40px;
  text-align: center;
  line-height: 35%;
}

h1.greeting {
  color: #53A697;
}

.container {
  margin: auto;
  min-height: 400px;
  top: 10px;
  width: 80%;
  background-color: rgba(255,255,255,0.75);
}


.footer {
  background-color: #53A697;
  height: 26px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 25px;
  color: white;
}








